@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);    
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

body, html {
    width: 100%;
    height: 100%;
    background-color: var(--very-light-gray);
}

.content {
    width: 100%;
    height: 100vh;
}

.main-top {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-top .first-h2 {
    font-size: 36px;
    color: var(--very-dark-blue);
    font-weight: 200;
}

.main-top .second-h2 {
    font-size: 36px;
    color: var(--very-dark-blue);
    font-weight: 600;
}

.main-top p {
    margin-top: 1rem;
    text-align: center;
    font-size: 15px;
    color: var(--grayish-blue);
}

.main-cards {
    display: grid;
    height: 75%;
    width: 100%;
    grid-template-areas: 
        "i2 i2"
        "i1 i3"
        "i4 i4"
    ;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card {
    background-color: var(--very-light-gray);
    width: 350px;
    height: 250px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 30px;
}

.card .card-top .title {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 8px;
}

.card .card-top .description {
    font-size: 15px;
    color: var(--grayish-blue);
}

.card .card-bottom img {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.card-1 {
    grid-area: i1;
    position: absolute;
    top: -45px;
    left: -555px;
    border-top: 0.3rem solid var(--cyan);
}

.card-2 {
    grid-area: i2;
    position: absolute;
    top: 30px;
    left: -175px;
    border-top: 0.3rem solid var(--red);
}

.card-3 {
    grid-area: i3;
    position: absolute;
    top: 90px;
    left: -175px;
    border-top: 0.3rem solid var(--orange);
}

.card-4 {
    grid-area: i4;
    position: absolute;
    top: -265px;
    left: 205px;
    border-top: 0.3rem solid var(--blue);
}

@media (max-width: 1140px) {

    .main-top {
        height: 300px;
    }

    .main-cards {
        display: flex;
        height: 1150px;
        width: 100%;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        gap: 1.5rem;
    }
    .card {
        pad: 25px;
    }
    .card-1 {
        /* position: absolute; 
        top: -45px;
        left: -555px; */
        position: static;
        border-top: 0.3rem solid var(--cyan);
    }
    .card-2 {
        position: static;
        border-top: 0.3rem solid var(--red);
    }
    .card-3 {
        position: static;
        border-top: 0.3rem solid var(--orange);
    }
    .card-4 {
        position: static;
        border-top: 0.3rem solid var(--blue);
    }
    .card .card-bottom img {
        position: relative;
        width: 90%;
        bottom: -40px;
        right: -230px;
    }

}

@media (max-width: 520px) {

    html, body, .content {
        min-width: 375px;
    }

    .main-top {
        height: 300px;
        text-align: center;
        padding: 0 27px;
    }
    .main-top .first-h2 {
        font-size: 26px;
    }
    .main-top .second-h2 {
        font-size: 26px;
    }
    .main-top p {
        font-size: 16px;
        width: 100%;
    }
    .main-top p br {
        display: none;
    }
    .main-cards .card{
        width: 85%;
        padding: 20px;
    }
    .card .card-bottom img {
        position: relative;
        width: 90%;
        bottom: -50px;
        right: -210px;
    }
    .card .card-top .description {
        font-size: 15px;
    }
}